<div class="content">
  <div id="sidebar">
    <header class="header cf" role="banner">
      <div class="logo"></div>
      <p class="small">All the Charleston breweries</p>
    </header>
    <section class="filters-container">
      <span class="location">
        <span class="filter-text">Show me breweries in</span>
        {{#power-select
          options=locationsList
          searchEnabled=false
          selected=locationFilter
          onchange=(action "updateLocationFilter")
        as |location|
        }}
          {{location}}
        {{/power-select}}
      </span>
      <span class="day">
        <span class="filter-text">open</span>
        {{#power-select
          options=daysList
          searchEnabled=false
          selected=dayFilter
          onchange=(action "updateDayFilter")
        as |day|
        }}
          {{day.name}}
        {{/power-select}}
      </span>
      {{#if dayIsSelected}}
        <span class="hour">
        <span class="filter-text">at</span>
          {{#power-select
            options=hoursList
            searchEnabled=false
            selected=hourFilter
            onchange=(action "updateHourFilter")
          as |hour|
          }}
            {{hour.name}}
          {{/power-select}}
      </span>
      {{/if}}

    </section>
  </div>

  <main class="main" role="main">

    <div class="col-sm-12">
      <section class="results-count">
        <h4></h4>
        <p>There are <strong>{{sortedBreweries.length}}</strong> breweries in <strong>{{locationFilter}}</strong> open <strong>{{dayFilter.name}}</strong> at <strong>{{hourFilter.name}}</strong></p>
      </section>
      <section class="brewery-section">
        <div class="brewery-list">
          {{#each sortedBreweries as |brewery|}}
            {{brewery-card brewery=brewery}}
          {{/each}}
        </div>
      </section>
    </div>
    {{newsletter-signup
      header="Find out what's on tap"
      description="Right now, Charleston Drinks is a handy, searchable, list of breweries around Charleston. But we're planning to have much more on tap. Sign up make sure you don't miss any new stuff!"
    }}
  </main>
</div>


<!-- Content Section -->


{{outlet}}
